
[defaults]
inventory = inventories/demo.ini
stdout_callback = yaml
fact_caching = jsonfile
fact_caching_connection = .fact_cache
gathering = explicit
host_key_checking = False
retry_files_enabled = False
deprecation_warnings = False
